<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="classroom" height="500px">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://images.unsplash.com/photo-1495727034151-8fdc73e332a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="coridor" height="500px">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNjaG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="school campus" height="500px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="heading text-center mt-5 mb-4">
        <h2>About Us</h2>
    </div>
    <div class="paragraph">
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facere culpa rerum deleniti illo nisi
            explicabo corporis dolorem tempore quaerat, repellendus voluptatem obcaecati provident unde? Sed ab odit non
            vel est totam ducimus optio saepe voluptate dolorem dicta nesciunt aspernatur tempore obcaecati omnis minus
            eos voluptates recusandae provident repellendus, earum itaque modi harum! Porro quos ex pariatur architecto
            aperiam eaque placeat, earum at voluptatem incidunt fugit ipsum repudiandae possimus iusto nihil quam.
            Laudantium nisi voluptatem unde cupiditate obcaecati dolore adipisci harum officiis perferendis,
            reprehenderit at magni, eveniet ducimus ex deserunt ipsam maiores mollitia magnam? Consequatur voluptatibus
            modi laborum provident facilis quasi cumque maiores, temporibus sit! Reprehenderit possimus odio aperiam
            illum reiciendis facilis animi porro, ipsum dolorem incidunt velit distinctio blanditiis optio ipsa nisi
            molestias deleniti voluptatem. Quos voluptatum magnam ducimus minima cumque labore, ut provident possimus
            aut suscipit nam cum tenetur soluta doloribus veniam expedita. Repudiandae nulla voluptatem facilis, non
            deleniti reiciendis beatae aspernatur. Magni, mollitia quibusdam. Ratione corrupti incidunt odio culpa!
            Vitae dolorum a temporibus odit ipsam sapiente quaerat, amet, id culpa inventore expedita. Maxime, rem
            minima porro nostrum voluptatem quod id necessitatibus excepturi ipsam ipsa dolorem inventore ab sapiente
            libero laboriosam. Voluptatum vero, quae reprehenderit animi est dignissimos.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim id laborum nobis distinctio deleniti dolores
            soluta nihil nam illum nostrum quasi magnam obcaecati, dolorem alias aspernatur voluptatibus dignissimos
            atque hic fugit, repellat possimus? Eum, natus veniam. Eum provident sunt ipsum doloribus magni commodi
            illum saepe quasi modi quibusdam temporibus, explicabo, soluta perferendis voluptates reprehenderit atque
            quo optio. Illum sapiente quidem, hic ipsam omnis laboriosam corrupti sunt reprehenderit eius excepturi!
            Quia tempora vitae vel nulla rem sed necessitatibus dolorem eaque fuga sunt est, veritatis quos dignissimos
            voluptatem blanditiis possimus nesciunt, exercitationem praesentium dicta quidem ipsum, assumenda ducimus
            sapiente minima. Tenetur, nobis?
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo magni nesciunt vero aliquid, officiis nisi
            accusantium tempora cupiditate suscipit. Autem accusamus cupiditate cumque earum rem repellat
            exercitationem, atque quo numquam suscipit voluptatum deserunt aliquid quaerat, molestias illum quasi.
            Labore, temporibus dolores. Corrupti laudantium odio corporis velit aliquid consectetur? Esse a incidunt ut
            perspiciatis cum quod iure assumenda dolor, odio voluptatem tenetur est excepturi atque cumque sunt
            voluptatum distinctio ducimus unde.</p>
    </div>
</div>