<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../favicon.ico" alt="" width="30" height="24">
        </a>
        <a class="navbar-brand" routerLink="/home">XYZ School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/achievements" routerLinkActive="active">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/holiday" routerLinkActive="active">Holidays</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admission" routerLinkActive="active">Admission</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                        *ngIf="!_authStudent.logged_in_student() && !_authStaff.logged_in_staff() && !_authAdmin.logged_in_admin()"
                        routerLink="/login_student" routerLinkActive="active">Student Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        *ngIf="!_authStudent.logged_in_student() && !_authStaff.logged_in_staff() && !_authAdmin.logged_in_admin()"
                        routerLink="/login_staff" routerLinkActive="active">Staff Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authStudent.logged_in_student()" routerLink="/dashboard_student"
                        routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authStudent.logged_in_student()" style="cursor: pointer;"
                        (click)="_authStudent.logout_student()">Logout</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authStaff.logged_in_staff()" routerLink="/dashboard_staff"
                        routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authStaff.logged_in_staff()" style="cursor: pointer;"
                        (click)="_authStaff.logout_staff()">Logout</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authAdmin.logged_in_admin()" routerLink="/dashboard_admin"
                        routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authAdmin.logged_in_admin()" style="cursor: pointer;"
                        (click)="_authAdmin.logout_admin()">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="component">
    <router-outlet></router-outlet>
</div>
<div class="row text-center" style="background-color: rgb(212, 131, 221); color:black; cursor: default;">
    <div class="col-sm-2 m-5">
        <div class="card bg-transparent" style="border: 0;">
            <div class="card-body" *ngIf="!_authStudent.logged_in_student() && !_authStaff.logged_in_staff()">
                <a routerLink="/login_admin" class="btn btn-danger"
                    *ngIf="!_authAdmin.logged_in_admin(); else elseBlock">
                    Admin
                </a>
                <ng-template #elseBlock>
                    <a routerLink="/dashboard_admin" class="btn btn-info">
                        Dashboard
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-3">
        <div class="card bg-transparent" style="border: 0;">
            <div class="card-body">
                <p class="card-title">Copyright XYZ School &copy;</p>
                <p class="card-text">Made by Divya Ratna</p>
                <a href="https://github.com/noobiehackerboi" target="_blank" class="btn btn-success">Visit Developer</a>
            </div>
        </div>
    </div>
</div>