<div class="bg-image p-5" style="background-image: url('https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvbGlkYXl8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
background-position: center;  background-repeat: no-repeat;  background-size: cover;">
    <h1 class="text-center">List of Holidays</h1>
    <div class="table-responsive">
        <table class="table caption-top mb-5"
            style="max-width: 50%; text-align: center; justify-content: center;margin: auto;">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Day</th>
                    <th scope="col">Name of Festival</th>
                    <th scope="col">No. of Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>04.04.2022</td>
                    <td>Monday</td>
                    <td>Sharhul</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card mb-2" style="width: 50%; margin: auto;">
        <h5 class="card-header">Note: </h5>
        <div class="card-body">
            <p class="card-text">1. * Subject to change of date depending on the visibility of moon</p>
            <p class="card-text">2. # Subject to change</p>
            <p class="card-text">3. Ram Navami (10.04.22), Id-Ul-Zoha (10.07.22), Christmas (25.12.22) fall on Sundays
            </p>
            <p class="card-text">4. Gandhi Jayanti (02.10.22), Milad-un-Nabi (08.10.22) fall in Autumn Break</p>
            <p class="card-text">5. Makar Sankranti (14.01.2023) falls on Second Saturday</p>
            <p class="card-text">6. Discretionary Holidays : 05</p>
        </div>
    </div>

</div>