<div class="bg-image p-5" style="background-image: url('https://images.unsplash.com/photo-1638742385167-96fc60e12f59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGdyYWRpZW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
background-position: center;  background-repeat: no-repeat;  background-size: cover;">
    <div class="card m-5 p-3">
        <div class="row g-0">
            <div class="col-md-4 px-3">
                <img src="https://images.unsplash.com/photo-1606636660801-c61b8e97a1dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2Nob29sfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                    class="img-fluid rounded-start" alt="achievements">
            </div>
            <div class="col-md-8">
                <div class="card-body" id="achievement-body">
                    <h2 class="card-title">Achievements</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptas quia
                        omnis
                        perspiciatis corrupti architecto labore aspernatur error, praesentium expedita quidem alias
                        excepturi beatae, quam modi, porro cum eveniet ad laborum? Officia vitae optio amet officiis
                        velit
                        quis ducimus, ipsam culpa minus ratione sapiente. Amet iure, reiciendis a maiores earum nam
                        aspernatur deleniti nobis saepe, labore omnis! Deserunt, quo ut praesentium atque rerum cum
                        recusandae deleniti fugiat quaerat in quis possimus neque, quos ducimus? Eos deleniti nemo vero
                        modi
                        libero illo iusto iste, assumenda, quam harum exercitationem deserunt labore adipisci sunt. Ex
                        itaque eos dolor, repellat accusantium est voluptatibus eum unde odit perferendis assumenda
                        temporibus similique quas a dolorum ipsum. Nobis in dolor blanditiis velit nemo explicabo
                        dignissimos repudiandae ipsum eos, quasi error animi minus quos eum minima recusandae tempora.
                        Nostrum, sunt vero. Doloremque voluptatum ex velit tempora reprehenderit quae cum nam
                        voluptatibus
                        numquam tempore vero quibusdam, repellat illo atque.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptas quia
                        omnis
                        perspiciatis corrupti architecto labore aspernatur error, praesentium expedita quidem alias
                        excepturi beatae, quam modi, porro cum eveniet ad laborum? Officia vitae optio amet officiis
                        velit
                        quis ducimus, ipsam culpa minus ratione sapiente. Amet iure, reiciendis a maiores earum nam
                        aspernatur deleniti nobis saepe, labore omnis! Deserunt, quo ut praesentium atque rerum cum
                        recusandae deleniti fugiat quaerat in quis possimus neque, quos ducimus? Eos deleniti nemo vero
                        modi
                        libero illo iusto iste, assumenda, quam harum exercitationem deserunt labore adipisci sunt. Ex
                        itaque eos dolor, repellat accusantium est voluptatibus eum unde odit perferendis assumenda
                        temporibus similique quas a dolorum ipsum. Nobis in dolor blanditiis velit nemo explicabo
                        dignissimos repudiandae ipsum eos, quasi error animi minus quos eum minima recusandae tempora.
                        Nostrum, sunt vero. Doloremque voluptatum ex velit tempora reprehenderit quae cum nam
                        voluptatibus
                        numquam tempore vero quibusdam, repellat illo atque.</p>
                    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptas quia
                        omnis
                        perspiciatis corrupti architecto labore aspernatur error, praesentium expedita quidem alias
                        excepturi beatae, quam modi, porro cum eveniet ad laborum? Officia vitae optio amet officiis
                        velit
                        quis ducimus, ipsam culpa minus ratione sapiente. Amet iure, reiciendis a maiores earum nam
                        aspernatur deleniti nobis saepe, labore omnis! Deserunt, quo ut praesentium atque rerum cum
                        recusandae deleniti fugiat quaerat in quis possimus neque, quos ducimus? Eos deleniti nemo vero
                        modi
                        libero illo iusto iste, assumenda, quam harum exercitationem deserunt labore adipisci sunt. Ex
                        itaque eos dolor, repellat accusantium est voluptatibus eum unde odit perferendis assumenda
                        temporibus similique quas a dolorum ipsum. Nobis in dolor blanditiis velit nemo explicabo
                        dignissimos repudiandae ipsum eos, quasi error animi minus quos eum minima recusandae tempora.
                        Nostrum, sunt vero. Doloremque voluptatum ex velit tempora reprehenderit quae cum nam
                        voluptatibus
                        numquam tempore vero quibusdam, repellat illo atque.</p>
                    <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
                    <a routerLink="#" style="color: rgb(96, 202, 237); text-decoration: none;"> Load More ...</a>
                </div>
            </div>
        </div>
    </div>
</div>